body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items:center;
}
h1{
  font-style:inherit;
}



.container{
    /* border: 2px solid; */
    width: 700px;
    height: 700px;
      display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    background-color: aqua;

}
.child-1{
    border: 2px solid;
    height: 60px;
    width: 10px;
  border-radius: 30px;
  background-color: black;
  animation-name: l1;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  /* animation-delay: 0.2s; */
}

@keyframes l1 {
    0%, 100%{
        transform: scaleY(0.5);
    }
    50%{
        transform: scaleY(2);
    }
}
.child-2{
    border: 2px solid;
     height: 70px;
    width: 10px;
    border-radius: 30px;
  background-color: black;
   animation-name: l3;
  animation-duration: 1s;
  animation-delay: 0.2s;
  transition:all 0.3s ease-in-out;
  animation-iteration-count: infinite;
  /* animation-delay: 0.5s; */
}
@keyframes l2 {
    0%, 100%{
        transform: scaleY(0.3);
    }
    50%{
        transform: scaleY(2.5);
    }
}
.child-3{
    border: 2px solid;
     height: 60px;
    width: 10px;
    border-radius: 30px;
  background-color: black;
     animation-name: l2;
  animation-duration: 1s;
  animation-delay: 0.4s;
    transition:all 0.3s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes l3 {
    0%, 100%{
        transform: scaleY(0.4);
    }
    50%{
        transform: scaleY(1.5);
    }
}


.child-4{
    border: 2px solid;
     height: 60px;
    width: 10px;
    border-radius: 30px;
  background-color: black;
   animation-name: l2;
  animation-duration: 1s;
  animation-delay: 0.6s;
    transition:all 0.3s ease-in-out;
  animation-iteration-count: infinite;
}

.child-5{
    border: 2px solid;
     height: 70px;
    width: 10px;
    border-radius: 30px;
  background-color: black;
   animation-name: l1;
  animation-duration: 1s;
  animation-delay: 0.8s;
    transition:all 0.3s ease-in-out;
  animation-iteration-count: infinite;
}

.child-6{
    border: 2px solid;
     height: 60px;
    width: 10px;
    border-radius: 30px;
  background-color: black;
    animation-name: l1;
  animation-duration: 1s;
  animation-delay: 1s;
    transition:all 0.3s ease-in-out;
  animation-iteration-count: infinite;

}
.child-7{
    border: 2px solid;
   height: 60px;
    width: 10px;
    border-radius: 30px;
  background-color: black;
    animation-name: l2;
  animation-duration: 1s;
  animation-delay: 1.2s;
    transition:all 0.3s ease-in-out;
  animation-iteration-count: infinite;
}
.child-8{
    border: 2px solid;
    height: 60px;
    width: 10px;
  border-radius: 30px;
  background-color: black;
    animation-name: l1;
  animation-duration: 1s;
  animation-delay: 1.2s;
    transition:all 0.3s ease-in-out;
  animation-iteration-count: infinite;
}
.child-9{
    border: 2px solid;
    height: 60px;
    width: 10px;
  border-radius: 30px;
  background-color: black;
   animation-name: l2;
  animation-duration: 1s;
  animation-delay: 1.6s;
    transition:all 0.3s ease-in-out;
  animation-iteration-count: infinite;
}

.child-10{
    border: 2px solid;
    height: 60px;
    width: 10px;
  border-radius: 30px;
  background-color: black;
   animation-name: l1;
  animation-duration: 2s;
  animation-delay: 1s;
    transition:all 1s ease-in-out;
  animation-iteration-count: infinite;
}