*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 height: 95vh;
 width: 95vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

section{
    display: flex;
    gap:0.5rem

}

div{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem; 
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
}

@keyframes bounce {
    0%{
      height: 0.5rem;
      width: 0.5rem;
      transform: translate(0);
    }

    50%{
     height: 1rem;
      width: 1rem;
      transform: translate(0,-3rem);
    }
    100%{

      height: 0.5rem;
      width: 0.5rem;
      transform: translate(0);
    }
}

div:nth-child(1){
    background-color:rgb(198, 19, 198);
    /* border-radius: 10%; */
    
}

div:nth-child(2){
    background-color:rgb(113, 19, 180);
    animation-delay: 0.5s;
}

div:nth-child(3){
    background-color:rgb(21, 21, 225);
    animation-delay: 1s;
}

div:nth-child(4){
    background-color:rgb(11, 150, 11);
    animation-delay: 1.5s;
}

div:nth-child(5){
    background-color:rgb(249, 249, 43);
    animation-delay: 2s;
}

div:nth-child(6){
    background-color:rgb(236, 161, 22);
    animation-delay: 2.5s;
}

div:nth-child(7){
    background-color:rgb(236, 16, 16);
    animation-delay: 3s;
}